.bg_img {
    height: 387;
    width:100%;
    position: relative;
}
.title {
    position: absolute;
    top: 290px;
    left: 290px;
    color: white;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.9;
}
.subtitle {
    position: absolute;
    top: 350px;
    left: 290px;
    color: white;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.9;
}

