.getintouch{
  color: hsla(0,0%,100%,.75);
  width: 100%;
  font-family: messina-sans;
  text-transform: uppercase;
  font-size: .7rem;
  margin-bottom: 0.75rem;
  letter-spacing: -.01em;
  margin-top:-84px
}
button{
  color: white;
}