

    <!-- <div fxLayout="column" fxLayoutAlign="start center">    -->
        <!-- <span style="color: white; font-size: 25px; font-family: messina-sans; letter-spacing: 0.2rem;">Discovery</span>
        <span style="margin-top: -13px;font-size: 10px; color:white; letter-spacing: 0.2rem;">LAND COMPANY</span> -->
    <!-- </div> -->
    <!-- <img src="./../../../assets/Images/DISCOVERYLOGO.jpg"style="width: 32px; border-radius: 50%;margin-left: 90px;margin-right: 10px;"> -->
     <mat-toolbar class="toolbar">
 <div>
            <img src="./../../../assets/Images/DISCOVERYLOGO.jpg"style="width: 32px; border-radius: 50%;margin-left: 90px;margin-right: 10px;">
          
        </div>   
        <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 366px;margin-left:-26px;">
            <span style="color:black;font-size:44px; font-family:messina-sans; letter-spacing: 0.5rem;">Discover</span>
            <span style="margin-top: 15px;font-size: 35px; color:black; letter-spacing: 0.5rem; margin-left: 40px;">Your World</span>
             <span style="margin-top: 15px;font-size: 35px; color:black; letter-spacing: 0.5rem; margin-left: 40px;">Your World</span> 
         </div> 
        
        <span class="example-spacer"></span>
     
         <button mat-button class="button" style="margin-right:250px;">GetInTouch</button>
         <button mat-button class="button" style="color: white;">AboutDLC</button>
         <button mat-button class="button" style="color: white;margin-right: -138px;">Magazine</button>
        
     </mat-toolbar>
   
     <!-- <div id="myNav" class="overlay">

        Button to close the overlay navigation -->
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
      
        <!-- Overlay content -->
        <!-- <div class="overlay-content">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
      
      </div> -->
      
      <!-- Use any element to open/show the overlay navigation menu -->
      <!-- <span onclick="openNav()">open</span>
      <script>
        function openNav() {
          document.getElementById("myNav").style.width = "100%";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.width = "0%";
        }
        </script> -->


