<div>
    <app-header></app-header>
    <img src="../../../assets/Images/galleryimages/jael-rodriguez-AkF5NT0sZy8-unsplash-1-1_210301_200939_35d31212c7a2d4dccdff99afa3f88af5.jpg"
        style="z-index: -1; position: absolute;" width="1263px" height="248px" alt="">
    <div div fxLayout="column" fxLayoutAlign="center start"
        style="padding: 139px; line-height: 1.3rem;color: white; font-size: 64px;font-family:emoji;">
        <div>Gallery</div>


    </div>
</div>


<div fxLayout="row" fxLayoutAlign="start start " style="background-color: black;margin-top: -50px;">

    <div>
        <img src="..//../../assets/Images/galleryimages/gallery1.jpg" width="421px " height="271px" alt="">
        <h1 class="galleries-item__title">Outdoor Pursuits</h1>

    </div>
    <div>
        <img src="..//../../assets/Images/galleryimages/galleryimagegolf.jpg" width="421px " height="271px" alt="">
        <h1 class="galleries-item__title">Golf</h1>

    </div>
    <div>
        <img src="..//../../assets/Images/galleryimages/galleryimageswimmingwomen.jpeg" width="421px " height="271px"
            alt="">
        <h1 class="galleries-item__title">Lifestyle</h1>

    </div>

</div>

<div fxLayout="row" fxLayoutAlign="start start " style="background-color: black;">

    <div>
        <img src="..//../../assets/Images/galleryimages/col2firstimage.jpg" width="421px " height="271px" alt="">
        <h1 class="galleries-item__title">Landscapes</h1>

    </div>
    <div>
        <img src="..//../../assets/Images/galleryimages/col2image.jpg" width="421px " height="271px" alt="">
        <h1 class="galleries-item__title">Clubhouses</h1>

    </div>
    <div>
        <img src="..//../../assets/Images/galleryimages/women spa.jpg" width="421px " height="271px"
            alt="">
        <h1 class="galleries-item__title">Wellness</h1>

    </div>

</div>

