.galleries-item__title {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    padding: 3rem 1.5rem;
    margin-bottom: 0;
    line-height: 1.2rem;
    font-family: gt-sectra;
    font-weight: 200;
}