<mat-toolbar class="toolbar">
    <div>
        <img src="./../../../assets/Images/DISCOVERYLOGO.jpg"
            style="width: 32px; border-radius: 50%;margin-left: 90px;margin-right: 10px;" (click)="onhomepage()">

    </div>
    <div fxLayout="column" fxLayoutAlign="start center">

        <span style="color: white; font-size: 25px; font-family: messina-sans; letter-spacing: 0.2rem;">Discovery</span>
        <span style="margin-top: -13px;font-size: 10px; color:white; letter-spacing: 0.2rem;">LAND COMPANY</span>

    </div>
    <!-- <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 366px;margin-left:-26px;">
        <span style="color: white;font-size:79px; font-family:messina-sans; letter-spacing: 0.5rem;">Discover</span>
        <span style="margin-top: 32px;font-size: 66px; color:white; letter-spacing: 0.5rem; margin-left: 48px; font-weight: 100;">your World</span>
    </div> -->

    <span class="spacer"></span>
    <div class="navbar">
        <button mat-button class="button" (click)="onaboutdlc()">About DLC</button>
        <button mat-button class="button" (click)="onourworlds()">OurWorlds</button>
        <button mat-button class="button" (click)="onexperiences()">Experiences</button>
        <button mat-button class="button" (click)="ongallery()">Gallery</button>
        <button mat-button class="button">Press</button>
        <button mat-icon-button (click)="clickMenuBar()">
            <mat-icon style="color: white; margin-left: 28px;">menu</mat-icon>
        </button>
    </div>
    
</mat-toolbar>


<div *ngIf="displayMenuBar">
    <div class="menu_Container">
        <div class="data">Magazine</div>
        <div class="data">Company</div>
        <div class="data">Foundation</div>
        <div class="data">Careers</div>
        <div class="data">Contact</div>
    </div>
    <button (click)="closeVideo()" class="close_btn">X</button>
</div>