<div>
    <app-header></app-header>
    <video id="videodiv"
        src="https://player.vimeo.com/external/536055631.hd.mp4?s=7f6a254bdf972674127e5909312fa5de8b8d2453&amp;profile_id=174&amp;download=1"
        data-length="" muted="" loop="" autoplay="" playsinline="">

    </video>

</div>
<div>
    <img class="boat" src="https://dxaurk9yhilm4.cloudfront.net/images/275/Home_76fe09b415dcada4f46ba4114338562c.jpg">
</div>


<div id="div1">
    <div class="blocksclass">
        <div fxLayout="column" fxLayoutAlign="start margin-left" style="padding-top: 24px;">
            <span
                style=" font-family: gt-sectra; font-weight: 200;font-size: 53px;padding-top: 150px; padding-left: 150px;">Welcome
                to
            </span>
            <span
                style="  font-family: gotham;font-weight: 100; font-size: 46px;padding-left: 140px;padding-bottom: 35px; margin-left: 17px; margin-top: 17px; font-weight: 100;opacity: 0.6;">our
                world
            </span>
        </div>
    </div>
    <div class="description">
        <div class="descriptioncontent">Discover the unique atmosphere of our private </div>
        <div class="descriptioncontent">residential club communities. Once experienced. Never </div>
        <div class="descriptioncontent">forgotten. This is classic, comfortable, modern living in </div>
        <div class="descriptioncontent">nature’s most spectacular settings worldwide. </div>
        <div class="descriptioncontent">Reassuringly exclusive. Generously welcoming. Find </div>
        <div class="descriptioncontent">your unique world – a place where families love to be; </div>
        <div class="descriptioncontent">creating unforgettable moments, together.</div>
    </div>

    <div>
        <img class="manwithcoffee"
            src="https://dxaurk9yhilm4.cloudfront.net/images/27/DriftwoodDevelopment_JessicaJohnson_March2019_52_df8586bb4c14d18f77324f7452f392cd.jpg"
            alt="" srcset="">
    </div>

</div>

<div fxLayout="column" fxLayoutAlign="start margin-left">
    <span
        style=" font-family: gt-sectra; font-weight: 200;font-size: 53px;padding-top: 150px; padding-left: 150px;">Explore
    </span>

    <span
        style="  font-family: gotham;font-weight: 100; font-size: 46px;padding-left: 140px;padding-bottom: 35px; margin-left: 17px; margin-top: 17px; font-weight: 100;opacity: 0.6;">our
        worlds
    </span>


</div>
<!-- <div>
            <ng-image-slider #nav [images]="images" [infinite]="true" [autoSlide]="0.1" [animationSpeed]="5"
                [showArrow]="false" [imageSize]="{width: '25%', height: 200}"></ng-image-slider>
        </div> -->


<div fxLayout="column" fxLayoutAlign="start margin-left">
    <span
        style=" font-family: gt-sectra; font-weight: 200;font-size: 53px;padding-top: 150px; padding-left: 150px;">Lands
        of
    </span>

    <span
        style="  font-family: roboto;font-weight: 100; font-size: 46px;padding-left: 140px;padding-bottom: 35px; margin-left: 10px; margin-top: 36px; font-weight: 100;opacity: 0.6;transform: translate(0px, -2.56667px);">
        Discovery
    </span>


</div>

<div class="description">
    <div class="descriptioncontent">A World away from day to day.you escape.You haven.Your world</div>
    <div class="descriptioncontent">explore the map below and take journey to our communities</div>

</div>

<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 40px;padding-left: 115px;">


    <div>

        <mat-tab-group animationDuration="0ms" class="remove-border-bottom">


            <mat-tab label="North America & American">


                <img src="../../../assets/Images/globe.jpg" width="900px" style="z-index: 110; padding-top:66px;
                            border-radius: 50%;">

            </mat-tab>

            <mat-tab label="HawaiI">
                <img src="../../../assets/Images/globe-hawaii.jpg" width="900px" style="z-index: 110; padding-top:66px;
                            border-radius: 50%;">
            </mat-tab>

            <mat-tab label="Europe">
                <img src="../../../assets/Images/globe-europe.jpg" width="900px" style="z-index: 110; padding-top: 66px;
                            border-radius: 50%;">

            </mat-tab>

        </mat-tab-group>

    </div>

    <div>
        <mat-card
            style="width: 378px;height: 497px; background-color: #161f1e; margin-left: -250px;z-index: 1; padding: 60px;">
            <button mat-icon-button>
                <i class="material-icons-outlined" style="color: white;">west</i>
            </button>
            <button mat-icon-button>
                <i class="material-icons-outlined" style="color: white;">east</i>
            </button>
            <div>
                <img src="" alt="">
            </div>

        </mat-card>

    </div>


</div>

<div style="height:auto;">
    <video src="../../../assets/Videos/homepageexperiencevideo/experiences_190722_093236.mp4" autoplay
        *ngIf="experiencesVideo">
    </video>
    <video src="../../../assets/Videos/homepageexperiencevideo/lifestyle.mp4" autoplay *ngIf="lifestylevideo">
    </video>
    <video src="../../../assets/Videos/homepageexperiencevideo/wellness.mp4" autoplay *ngIf="wellnessvideo">
    </video>



    <div fxLayout="row" fxLayoutAlign="start stretch" *ngIf="experiences && lifestyle && wellness" >
        <div>
            <img src="../../../assets/Images/aboutdlcimages/Expereinces_slider_190716_095517_e36797c82dbcb9dea0800f713424f022.jpg"
                width="420px" style="z-index: -1;">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: -10px;">
                <div class="text">Experiences</div>
                <button mat-button (click)="onExperiences()">
                    <i style="color: white;font-size: 60px;" class="material-icons-outlined">arrow_circle_right</i>
                </button>

            </div>
        </div>

        <div>

            <img src="../../../assets/Images/aboutdlcimages/lifestyle_slider_1.jpg" width="420px " style="z-index: -1;">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: -10px;">
                <div class="text">Lifestyle</div>
                <button mat-button (click)="onLifestyle()">
                    <i style="color: white;font-size: 60px;" class="material-icons-outlined">arrow_circle_right</i>
                </button>

            </div>

        </div>

        <div>
            <img src="../../../assets/Images/aboutdlcimages/wellness_slider_1.jpg" width="420px" style="z-index: -1;">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: -10px;">
                <div class="text">Experiences</div>
                <button mat-button (click)="onWellness()">
                    <i style="color: white;font-size: 60px;" class="material-icons-outlined">arrow_circle_right</i>
                </button>

            </div>

        </div>

    </div>
</div>


<div *ngIf="div1">
    <div fxLayout="row" fxLayoutAlign=" center" style="background-color: whitesmoke; padding-top: 100px;">
        <div>
            <img src="../../../assets/Images/experiencesimages/swimmingwomen.jpg" width="949px" height="739px"
                style="z-index: 110;">
        </div>
    
        <div>
            <mat-card
                style="width: 419px ;height: 270px ; background-color: white; margin-left: -328px ; z-index: 1;padding: 71px;">
    
                <div>
                    <h1
                        style=" margin-bottom: 2rem; line-height: 1.1;font-family: gt-sectra;font-weight: 200;font-size:34px;">
                        Wellness
                    </h1>
                </div>
    
                <div>
                    <p
                        style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
    
    
                        Unwind at an indulgent spa. Set challenging targets with a tailor-made fitness plan. Or let our
                        talented chefs treat you to our flavorful international menus created using the finest, carefully
                        selected foods sourced locally from organic farms.
    
                    </p>
                    <div style="padding-top: 38px;">
                        <button mat-button
                            style="color:black; border:  solid black; border-width: thin; opacity: 0.7; padding: 10px 45px 10px 45px; font-size: 12px;">Explore</button>
                    </div>
                </div>
    
    
    
            </mat-card>
    
        </div>
    
    </div>
</div>
<div *ngIf="div2">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: whitesmoke; padding-top: 100px;">
        <div>
            <img src="../../../assets/Images/experiencesimages/golffplayer.jpg" width="949px" height="739px"
                style="z-index: 110;">
        </div>
    
        <div>
            <mat-card
                style="width: 423px;height: 270px; background-color: white; margin-left: -625px;z-index: 1; padding: 60px;">
    
                <div>
                    <h1
                        style="margin-bottom: 2rem; line-height: 1.1;font-family: gt-sectra;font-weight: 200;font-size: 34px;">
                        Golf
                    </h1>
                </div>
    
                <div>
                    <p
                        style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
    
                        We commission the world’s most renowned course architects to design spectacular golf experiences on
                        challenging yet incredibly playable 18-hole courses. Our trademark comfort stations also set new
                        standards in on-course amenities.
    
                    </p>
                    <div style="padding-top: 38px;">
                        <button mat-button
                        style="color:black; border:  solid black; border-width: thin; opacity: 0.7; padding: 10px 45px 10px 45px; font-size: 12px;">Explore</button>
                    </div>
                </div>
    
    
    
            </mat-card>
    
        </div>
    
    </div>
    
</div>
<div *ngIf="div3">
    GHI
</div>
<button style="size: 100px;" (click)="div1Function()"></button>
<button (click)="div2Function()"></button>
<button (click)="div3Function()"></button>