<div>
    <app-header></app-header>
    <video id="videodiv"
        src="https://player.vimeo.com/external/536055631.hd.mp4?s=7f6a254bdf972674127e5909312fa5de8b8d2453&amp;profile_id=174&amp;download=1"
        data-length="" muted="" loop="" autoplay="" playsinline="">

    </video>

</div>
<div>
    <img class="boat" src="https://dxaurk9yhilm4.cloudfront.net/images/275/Home_76fe09b415dcada4f46ba4114338562c.jpg"
        alt="" srcset="">
</div>


<section id="div1">
    <div class="blocksclass">
        <div fxLayout="column" fxLayoutAlign="start margin-left">
            <span
                style=" font-family: gt-sectra; font-weight: 200;font-size: 53px;padding-top: 150px; padding-left: 150px;">Welcome
                to
            </span>
            <span
                style="  font-family: gotham;font-weight: 100; font-size: 46px;padding-left: 140px;padding-bottom: 35px; margin-left: 17px; margin-top: 17px; font-weight: 100;opacity: 0.6;">our
                world
            </span>
        </div>

        <div class="description">
            <div class="descriptioncontent">Discover the unique atmosphere of our private </div>
            <div class="descriptioncontent">residential club communities. Once experienced. Never </div>
            <div class="descriptioncontent">forgotten. This is classic, comfortable, modern living in </div>
            <div class="descriptioncontent">nature’s most spectacular settings worldwide. </div>
            <div class="descriptioncontent">Reassuringly exclusive. Generously welcoming. Find </div>
            <div class="descriptioncontent">your unique world – a place where families love to be; </div>
            <div class="descriptioncontent">creating unforgettable moments, together.</div>
        </div>

        <div>
            <img class="manwithcoffee"
                src="https://dxaurk9yhilm4.cloudfront.net/images/27/DriftwoodDevelopment_JessicaJohnson_March2019_52_df8586bb4c14d18f77324f7452f392cd.jpg"
                alt="" srcset="">
        </div>


        <div fxLayout="column" fxLayoutAlign="start margin-left">
            <span
                style=" font-family: gt-sectra; font-weight: 200;font-size: 53px;padding-top: 150px; padding-left: 150px;">Explore
            </span>

            <span
                style="  font-family: gotham;font-weight: 100; font-size: 46px;padding-left: 140px;padding-bottom: 35px; margin-left: 17px; margin-top: 17px; font-weight: 100;opacity: 0.6;">our
                worlds
            </span>


        </div>
        

        <div fxLayout="column" fxLayoutAlign="start margin-left">
            <span
                style=" font-family: gt-sectra; font-weight: 200;font-size: 53px;padding-top: 150px; padding-left: 150px;">Lands
                of
            </span>

            <span
                style="  font-family: roboto;font-weight: 100; font-size: 46px;padding-left: 140px;padding-bottom: 35px; margin-left: 10px; margin-top: 36px; font-weight: 100;opacity: 0.6;transform: translate(0px, -2.56667px);">
                Discovery
            </span>


        </div>

        <div class="description">
            <div class="descriptioncontent">A World away from day to day.you escape.You haven.Your world</div>
            <div class="descriptioncontent">explore the map below and take journey to our communities</div>

        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 40px;padding-left: 115px;">


            <div>

                <mat-tab-group animationDuration="0ms" class="remove-border-bottom">


                    <mat-tab label="North America & American">


                        <img src="../../../assets/Images/globe.jpg" width="900px" style="z-index: 110; padding-top:66px;
                            border-radius: 50%;">

                    </mat-tab>

                    <mat-tab label="HawaiI">
                        <img src="../../../assets/Images/globe-hawaii.jpg" width="900px" style="z-index: 110; padding-top:66px;
                            border-radius: 50%;">
                    </mat-tab>

                    <mat-tab label="Europe">
                        <img src="../../../assets/Images/globe-europe.jpg" width="900px" style="z-index: 110; padding-top: 66px;
                            border-radius: 50%;">

                    </mat-tab>

                </mat-tab-group>

            </div>

            <div>
                <mat-card
                    style="width: 480px;height: 497px; background-color: #161f1e; margin-left: -250px;z-index: 1; padding: 60px;">
                    <button mat-icon-button (click)="myMethod()">
                        <i class="material-icons-outlined" style="color: white;">west</i>
                    </button>
                    <button mat-icon-button>
                        <i class="material-icons-outlined" style="color: white;">east</i>
                    </button>
                    <div>
                        <img src="" alt="">
                    </div>

                </mat-card>

            </div>


        </div>


    </div>

</section>