
<div style="background-color: black;">
    <app-header></app-header>
    <div fxLayout="row" fxLayoutAlign="start " style="padding-top: 150px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/northernhemisphere.jpg" width="294px " height="154px"
                alt="">
            <h1 class="world-title"> North Shore Preserve</h1>
            <h2 class="world-title" style="color: #777;">Kaua'i, Hawaii</h2>
        </div>

        <div style="padding-left: 13px; width: min-content;">
            <img src="..//../../assets/Images/ourlworldsimages/jamesisland.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title"> James Island</h1>
            <h2 class="world-title" style="color: #777;">Southern Gulf Islands,British Columbia, Canada</h2>
        </div>

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/costatera.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">CostaTerra</h1>
            <h2 class="world-title" style="color: #777;">Comporta, Portugal</h2>
        </div>
        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/barbudaoceanclub.jpg" width="294px " height="154px"
                alt="">
            <h1 class="world-title">Barbuda Ocean Club</h1>
            <h2 class="world-title" style="color: #777;">Barbuda, West Indies</h2>
        </div>

    </div>


    <div fxLayout="row" fxLayoutAlign="start start " style="padding-top: 68px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/driftwood.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Driftwood</h1>
            <h2 class="world-title" style="color: #777;">Austin, Texas</h2>
        </div>

        <div style="padding-left: 13px; width: min-content;">
            <img src="..//../../assets/Images/ourlworldsimages/troubador.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title"> Troubadour</h1>
            <h2 class="world-title" style="color: #777;">Nashville, Tennessee</h2>
        </div>

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/playgrande.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Playa Grande</h1>
            <h2 class="world-title" style="color: #777;">Rio San Juan, Dominican Republic</h2>
        </div>
        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/chilenobay.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Chileno Bay</h1>
            <h2 class="world-title" style="color: #777;">Cabo San Lucas, Mexico</h2>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start start " style="padding-top: 68px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/Summit.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">The Summit</h1>
            <h2 class="world-title" style="color: #777;">Las Vegas, Nevadas</h2>
        </div>

        <div style="padding-left: 13px; width: min-content;">
            <img src="..//../../assets/Images/ourlworldsimages/dunedeck.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title"> Dune Deck</h1>
            <h2 class="world-title" style="color: #777;"> Westhampton Beach, NY</h2>
        </div>

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/siliridge.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Silo Ridge</h1>
            <h2 class="world-title" style="color: #777;">Amenia, New York</h2>
        </div>
        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/makena.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Mākena</h1>
            <h2 class="world-title" style="color: #777;">Maui, Hawaii</h2>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start start " style="padding-top: 68px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/Yellowston.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Yellowstone Club</h1>
            <h2 class="world-title" style="color: #777;">Big Sky, Montana</h2>
        </div>

        <div style="padding-left: 13px; width: min-content;">
            <img src="..//../../assets/Images/ourlworldsimages/gozzer.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title"> Gozzer Ranch</h1>
            <h2 class="world-title" style="color: #777;"> Coeur d’Alene, Idaho</h2>
        </div>

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/eldo5rado.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">El Dorado</h1>
            <h2 class="world-title" style="color: #777;">Los Cabos, Mexico</h2>
        </div>
        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/madison.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Madison</h1>
            <h2 class="world-title" style="color: #777;">La Quinta, California</h2>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start start " style="padding-top: 68px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/bakersbay.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Baker's Bay</h1>
            <h2 class="world-title" style="color: #777;">Great Guana Cay, Bahamas</h2>
        </div>

        <div style="padding-left: 13px; width: min-content;">
            <img src="..//../../assets/Images/ourlworldsimages/hideaway.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Hideaway</h1>
            <h2 class="world-title" style="color: #777;"> La Quinta, California</h2>
        </div>

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/mountaintop.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Mountaintop</h1>
            <h2 class="world-title" style="color: #777;">Cashiers, North Carolina</h2>
        </div>
        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/mirabel.jpeg" width="294px " height="154px" alt="">
            <h1 class="world-title">Mirabel</h1>
            <h2 class="world-title" style="color: #777;">Scottsdale, Arizona</h2>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start start " style="padding-top: 68px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/kukiyo.jpg " width=" 294px " height=" 154px" alt="">
            <h1 class="world-title">Kūki'o</h1>
            <h2 class="world-title" style="color: #777;">Kohala, Hawaii</h2>
        </div>

        <div style="padding-left: 13px; width: min-content;">
            <img src="..//../../assets/Images/ourlworldsimages/vanquero.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Vaquero</h1>
            <h2 class="world-title" style="color: #777;"> Westlake, Texas</h2>
        </div>

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/ironhorse.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">Iron Horse</h1>
            <h2 class="world-title" style="color: #777;">Whitefish, Montana</h2>
        </div>
        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/cordevalle.jpg" width="294px " height="154px" alt="">
            <h1 class="world-title">CordeValle</h1>
            <h2 class="world-title" style="color: #777;">Silicon Valley, California</h2>
        </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="start start " style="padding-top: 68px;">

        <div style="padding-left: 13px;">
            <img src="..//../../assets/Images/ourlworldsimages/estanica.jpg" width=" 294px " height=" 154px" alt="">
            <h1 class="world-title">Estancia</h1>
            <h2 class="world-title" style="color: #777;">Scottsdale, Arizona</h2>
        </div>
    </div>
</div>