<div>
    <video style="z-index: -1; position: relative;"
        src="https://dxaurk9yhilm4.cloudfront.net/experiences_hero.mp4?mtime=20190609072805" autoplay loop>
        
    </video>
    <div fxLayout="column" fxLayoutAlign="start center" style="padding:174px; z-index: 110; margin-top:-516px;">
        <div class="text">Unforgetable</div>
        <div class="text2">experiences</div>

    </div>
</div>

<div>
    <div class="description">
        <div class="descriptioncontent"> Memorable days. Exceptional nights. We believe it’s our mission to </div>
        <div class="descriptioncontent">make every minute matter. So you can live your life to the fullest, </div>
        <div class="descriptioncontent">with the people closest to you. </div>


    </div>

</div>


<div fxLayout="row" fxLayoutAlign="start center" style="padding-top:98px">

    <div fxLayout="column" fxLayoutAlign="start center" style="padding-top: 10px; margin-left: -88px;">
        <h1
            style="margin-bottom: 2rem; line-height: 1.1;font-family: gt-sectra;font-weight: 200;font-size: 34px; padding-left: 39px;">
            Exclusive to<br>you world
        </h1>



        <div style="padding-left: 228px;">
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                Our worlds are designed to offer you endless </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                opportunities to share incredible once-in-a-lifetime </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                experiences and adventures every single minute of the </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                day. Each of our settings offers a relaxed sense of </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                community through exceptional clubhouses,

            </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                world-class golf courses, welcoming staff and an

            </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                extensive Outdoor Pursuits program. Create moments

            </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                of joy and wonder, unforgettable memories and
            </div>
            <div
                style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">
                cherished times, together with those who matter most.

            </div>



        </div>
    </div>

    <img src="../../../assets/Images/experiencesimages/boat.jpg"
        style="z-index: -1; padding-left: 115px;width: 520px; height: 623px;">


</div>

<div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: whitesmoke; padding-top: 100px;">
    <div>
        <img src="../../../assets/Images/experiencesimages/golffplayer.jpg" width="949px" height="739px"
            style="z-index: 110;">
    </div>

    <div>
        <mat-card
            style="width: 423px;height: 270px; background-color: white; margin-left: -625px;z-index: 1; padding: 60px;">

            <div>
                <h1
                    style="margin-bottom: 2rem; line-height: 1.1;font-family: gt-sectra;font-weight: 200;font-size: 34px;">
                    Golf
                </h1>
            </div>

            <div>
                <p
                    style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">

                    We commission the world’s most renowned course architects to design spectacular golf experiences on
                    challenging yet incredibly playable 18-hole courses. Our trademark comfort stations also set new
                    standards in on-course amenities.

                </p>
                <div style="padding-top: 38px;">
                    <button mat-button
                    style="color:black; border:  solid black; border-width: thin; opacity: 0.7; padding: 10px 45px 10px 45px; font-size: 12px;">Explore</button>
                </div>
            </div>



        </mat-card>

    </div>

</div>

<div fxLayout="row" fxLayoutAlign=" center" style="background-color: whitesmoke; padding-top: 100px;">

    <div>

        <mat-card
            style="width: 423px;height: 270px; background-color: white; margin-left: 85px;z-index: 1; padding: 60px; margin-right: -208px;">

            <div>
                <h1
                    style="margin-bottom: 2rem; line-height: 1.1;font-family: gt-sectra;font-weight: 200;font-size: 34px;">
                    Golf
                </h1>
            </div>

            <div>
                <p
                    style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">

                    We commission the world’s most renowned course architects to design spectacular golf experiences on
                    challenging yet incredibly playable 18-hole courses. Our trademark comfort stations also set new
                    standards in on-course amenities.

                </p>
                <div style="padding-top: 38px;">
                    <button mat-button
                    style="color:black; border:  solid black; border-width: thin; opacity: 0.7; padding: 10px 45px 10px 45px; font-size: 12px;">Explore</button>
                </div>
            </div>



        </mat-card>

    </div>
    <div>
        <img src="../../../assets/Images/experiencesimages/mountain.jpg" width="840px" height="739px"
            style="z-index: 110;">
    </div>



</div>
<div fxLayout="row" fxLayoutAlign=" center" style="background-color: whitesmoke; padding-top: 100px;">
    <div>
        <img src="../../../assets/Images/experiencesimages/swimmingwomen.jpg" width="949px" height="739px"
            style="z-index: 110;">
    </div>

    <div>
        <mat-card
            style="width: 419px ;height: 270px ; background-color: white; margin-left: -328px ; z-index: 1;padding: 71px;">

            <div>
                <h1
                    style=" margin-bottom: 2rem; line-height: 1.1;font-family: gt-sectra;font-weight: 200;font-size:34px;">
                    Wellness
                </h1>
            </div>

            <div>
                <p
                    style="display: block; text-align: start; position: relative; opacity: 1; transform: translate(0px, 0px);line-height: 2;font-size: 1rem;opacity: 0.7;">


                    Unwind at an indulgent spa. Set challenging targets with a tailor-made fitness plan. Or let our
                    talented chefs treat you to our flavorful international menus created using the finest, carefully
                    selected foods sourced locally from organic farms.

                </p>
                <div style="padding-top: 38px;">
                    <button mat-button
                        style="color:black; border:  solid black; border-width: thin; opacity: 0.7; padding: 10px 45px 10px 45px; font-size: 12px;">Explore</button>
                </div>
            </div>



        </mat-card>

    </div>

</div>

<div style="padding-top: 80px;">

    <img style=" position: absolute; z-index: -1;" src="../../../assets/Images/experiencesimages/explastimage.jpg"
        width="1263px" height="489px">
    <div div fxLayout="column" fxLayoutAlign="start center" style="padding: 196px;">
        <div class="textlast"
            style="text-align: center; font-size: 50px;margin-left: -64px;line-height: 1.3; margin-bottom: 2.5rem;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 100; ">
            Our Worlds
        </div>
        <div style="margin-right: 60px;">
            <button mat-button (click)=" onExplore()"
            style="color:white; border:  solid white; border-width: thin; opacity: 0.7; padding: 10px 45px 10px 45px; font-size: 12px;">Explore</button>
        </div>
    </div>

</div>